@model Zajęcia1_Todos.Models.Todo

<tr>
	<td>
		@Html.DisplayFor(modelItem => modelItem.Title)
	</td>
	<td>
		@Html.DisplayFor(modelItem => modelItem.IsDone)
		@Html.DisplayFor(modelItem => modelItem.IsDone)
	</td>
	<td>
		<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
		<a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
		<a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
	</td>
</tr>

