@model Zajęcia1_Todos.Models.Todo

<tr>
	<td>
		@Html.DisplayFor(modelItem => modelItem.Title)
	</td>
	<td>
		@Html.DisplayFor(modelItem => modelItem.IsDone)
	</td>
	<td>
		<form asp-action="SetDone">
			<input type="hidden" asp-for="Id" />
			<input class="btn btn-primary rounded-pill px3" type="submit" value="Finish" />
		</form>

		<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
		<a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
		<a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
	</td>
</tr>

